.header {
    background: #ff6a10;
    background-color: #ff6a10;
}

.sub-header {
    background: #d65600;
    background-color: #d65600;
    color: #fff;
}

.columns {
    padding: 20px;

    .logo_white {
        width: 135px;
    }
    .logo_user {
        width: 32px;
    }
}
