<container>
    <row class="header">
        <columns small="6" large="6" valign="middle">
            <img class="logo_white" src="{{ root }}/assets/img/kayak_files/logo_white.png" alt="k-logo"/>
        </columns>
        <columns small="6" large="6" valign="middle">
            <img class="logo_user float-right" src="{{ root }}/assets/img/kayak_files/user.png" alt="user-logo"/>
        </columns>
    </row>
    <row class="sub-header">
        <columns></columns>
        <columns style="width: 90%;">
            <row>
                <columns small="4" large="3">
                    <a href="#" class="text-center">
                        <img class="icons" src="{{root}}/assets/img/kayak_files/airplane.png" alt=""/>
                        Flights
                    </a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center">
                        <img class="icons" src="{{root}}/assets/img/kayak_files/bed.png" alt=""/>
                        Hotels
                    </a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center">
                        <img class="icons" src="{{root}}/assets/img/kayak_files/car.png" alt=""/>
                        Cars</a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span style="margin-right: 10px;" class="menu-divider"></span>
                </columns>
                <columns small="4" large="3" class="show-for-large">
                    <a href="#" class="text-center">
                        <img class="icons" src="{{root}}/assets/img/kayak_files/umbrella.png" alt=""/>
                        Packages</a>
                </columns>
            </row>
        </columns>
        <columns></columns>
    </row>
</container>
